/* General Styles */
body {
    font-family: 'Baloo 2', cursive;
}
p {
    font-size: 1.2em;
}
/* Navbar Styles*/
nav {
    width: 100%;
}
.navbar-brand {
    font-size: 1.5em;
}
.navbar-custom{
    background-color: #cedbe0;
}

/* body styling */

fieldset.border{
    border: 2px solid #cedbe0;
}

.btn-custom{
    background-color: #F6E8D7;
}

/* Guestbook Styles */
.jumbotron {
    background-image: url(../images/guestbookImage.png);
}
#jumbotronContainer{
    margin-top: 45px;
    background-color: #ffffff;
    opacity: 0.6;
    width: 700px;
}

#jumbotronContainerAdmin{
    margin-top: 45px;
    background-color: #ffffff;
    opacity: 0.6;
    width: 575px;
}
/*Form Styles */
form {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
#btn-guestbook {
    background-color: #F6E8D7;
    font-color: darkgrey;
}

/* Footer Styles */
footer{
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 50px;
    position: absolute;
    width:100%;
}
.footer-custom{
    background-color: #cedbe0;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

#resumeImage {
    width: 300px;
    height: 100px;
}
